@model Firstproject.Models.Userhall


@{
    Layout="~/Views/shared/_Home.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Booking Form HTML Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Cantata+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Imprima" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="~/Home/Booking/css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/Home/Booking/css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-cta">
						<h1>Make Your Reservation</h1>
					</div>
					<div class="booking-form">
						<form asp-route-id="">
							<div class="col-md-6">
								<div class="form-group">
									 <label asp-for="Hall.HallName" class="form-label"></label>
                <select asp-for="HallId" class ="form-control" asp-items="ViewBag.HallId"></select>
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="form-group">
									 <label asp-for="User.Fname" class="form-label">User Name</label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
								</div>
							</div>



							<div class="col-md-4">
								<div class="form-group">
									 <label asp-for="StartDate" class="form-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									 <label asp-for="EndDate" class="form-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-btn">

                    <input type="submit" value="Create" class="btn btn-info" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>